.card {
  width: 300px;
  border: 1px solid grey;
  --border-radius: 2rem;
  border-radius: var(--border-radius);
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
